*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #bfbfbf;
  font-family: 'Bebas Neue', cursive;
}
/* HEADER */
header{
  background-color: black;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 250px;
  margin: 10px;
}
.left_side{
  display: flex;
  align-items: center;

}
.left_side ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.left_side ul li{
  margin: 10px;
  font-size: 30px;
}
.right_side{
  display: flex;
  align-items: center;
}
.input_film input{
  width: 200px;
  height: 25px;
  margin:0 20px;
  border-radius: 50px;
}
.input_film button{
  border: 0;
  color: white;
  background-color: black;
  font-size: 25px;
  margin: 0 20px;
}
/* FINE HEADER */
/* .square{
  display: flex;

} */
.film,
.serie{
  overflow-x: scroll;

}
.film ul,
.serie ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.film h1,
.serie h1{
  font-size: 60px;
  margin: 5px;
}




/* TEMPLATE */
.yellow{
  color:yellow;
}
li img{
  width: 50px;
}

.img_template{
  width: 350px;
  margin: 10px;
  transition: filter 0.5s ease-in;
}
.cover:hover .img_template{
  filter: blur(40px);
}
.cover{
  position: relative;
}

.description{
  color: red;
  width: 350px;
  height: 520px;
  margin: 10px;
  position: absolute;
  font-size: 50px;
  display: none;
  overflow-y: scroll;
}
.description li{
  list-style: none;
}
.cover:hover .description{
  display: block;
}
.overview{
  font-size: 25px;
  color: black;
}

.block{
  display:block;
}
.none{
  display: none;
}
